.about-me {
  background: #323745;
  background-size: cover;
  border: solid #76a10f;
  border-width: 4px 0 4px 0;
  color: #EEF6F2; }
  .about-me__grid-wrap {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-column-gap: 20px;
    padding: 20px; }
  .about-me img {
    width: 100%;
    max-width: 120px;
    margin-bottom: 50px; }
  .about-me__about img {
    max-width: 100%; }
  .about-me__about__title {
    font-size: 50px;
    font-family: 'Sigmar', sans-serif; }
  .about-me__about__desc {
    font-size: 24px;
    margin-bottom: 20px; }
  .about-me__contacts img {
    max-width: 100px; }
