/*
    HEADER
*/
header {
  display: flex;
  font-family: 'Sigmar', sans-serif;
  color: white; }
  header .name {
    display: flex;
    width: 50%; }
    header .name .name_and_prof {
      display: inline-block;
      margin: 0 0 0 20px; }
      header .name .name_and_prof .fullName {
        font-size: 50px; }
      header .name .name_and_prof .prof {
        font-size: 30px; }
  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header ul li {
      font-family: 'Burbank', sans-serif;
      cursor: pointer;
      padding: 4px;
      font-size: 26px;
      letter-spacing: 2px;
      margin: 0 10px; }
      header ul li:hover {
        border-bottom: 4px solid #6c8e66; }
      header ul li.selected {
        border-bottom: 4px solid #76a10f; }
  header .menu {
    width: 50%;
    font-family: 'Sigmar', sans-serif;
    padding-top: 17px; }

.sendMessage {
  padding: 10px 14px;
  border: 4px solid #76a10f;
  margin-left: 10px;
  color: #cccccc; }

.avatar {
  width: 180px;
  height: 180px; }

.about-me {
  background: url("../images/bg-about-me.jpg") no-repeat;
  background-size: cover;
  border: solid #76a10f;
  border-width: 4px 0 4px 0; }
  .about-me__grid-wrap {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    padding: 20px; }
  .about-me img {
    width: 170px;
    margin-bottom: 50px; }
  .about-me__about__title {
    font-size: 50px;
    font-family: 'Sigmar', sans-serif; }
  .about-me__about__desc {
    font-size: 24px;
    margin-bottom: 20px; }
  .about-me__contacts {
    font-family: 'Burbank', sans-serif;
    columns: #4c6333; }
    .about-me__contacts__lang {
      border-bottom: 10px #76a10f solid;
      margin-bottom: 30px;
      color: #4c6333; }
      .about-me__contacts__lang .word {
        font-size: 35px; }
      .about-me__contacts__lang .desc {
        font-size: 20px;
        margin-left: 5px; }
      .about-me__contacts__lang .value {
        font-size: 40px;
        line-height: 36px;
        float: right; }
    .about-me__contacts__info {
      font-family: 'Sigmar', sans-serif;
      font-size: 30px;
      line-height: 31px; }
      .about-me__contacts__info-title {
        color: #87b158; }
      .about-me__contacts__info-value {
        color: #2f3e1f;
        margin-bottom: 20px; }

.experience {
  background: url("../images/bg-01.jpg") no-repeat;
  background-size: cover;
  color: #EEF6F2;
  padding: 50px 0;
  border-bottom: 3px solid #76a10f; }
  .experience-title {
    font-size: 50px;
    font-family: 'Sigmar', sans-serif;
    margin-bottom: 20px; }
  .experience-desc {
    font-size: 28px;
    margin-bottom: 30px; }

.programs {
  padding: 40px 10px;
  background: #ffffff; }
  .programs img {
    margin: 15px;
    text-align: center; }
  .programs__flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }

.work-plan {
  background: #c5e0bf;
  padding: 30px 0 70px;
  border: solid #76a10f;
  border-width: 5px 0; }
  .work-plan__title {
    font-family: 'Sigmar', sans-serif;
    font-size: 50px; }
  .work-plan p {
    font-size: 25px;
    margin-bottom: 30px; }

.works__title {
  font-size: 100px;
  text-align: center;
  font-family: "Sigmar", sans-serif;
  color: #EEF6F2;
  background: url("../images/works/works_title_bg.jpg") no-repeat;
  background-size: cover; }

.works__fantasy {
  background: #2c2c2c; }
  .works__fantasy-characters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .works__fantasy-characters img {
      width: 21%; }
      .works__fantasy-characters img:first-child {
        width: 33%; }
      .works__fantasy-characters img:nth-child(3) {
        width: 25%; }
  .works__fantasy-characters2, .works__fantasy-characters3 {
    align-items: center;
    background: #2c2c2c;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 15px solid #191b1e; }
    .works__fantasy-characters2 img, .works__fantasy-characters3 img {
      width: 25%; }
  .works__fantasy-characters3 img {
    width: 50%; }
  .works__fantasy-many {
    padding: 30px 0 60px;
    background: url("../images/works/fantasy/fantasy-bg2.jpg") no-repeat;
    background-size: cover; }
    .works__fantasy-many img {
      width: 100%; }
  .works__fantasy-desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); }
    .works__fantasy-desc img {
      width: 60%; }
    .works__fantasy-desc .desc {
      width: 40%;
      font-size: 25px;
      font-family: 'Sigmar', sans-serif; }
  .works__fantasy__title-wrap {
    background: url("../images/works/fantasy/fantasy-bg.jpg") no-repeat;
    background-size: cover;
    border-top: 10px solid #76a10f;
    padding-bottom: 20px; }
  .works__fantasy__title {
    padding: 50px 0;
    text-align: center;
    color: #282c34;
    font-size: 50px;
    font-family: 'Sigmar', sans-serif; }

.wild-west {
  background: #ffffff; }
  .wild-west__title {
    background: url("../images/works/wild-west-title-bg.png") no-repeat;
    background-size: cover;
    font-size: 80px;
    text-align: center;
    color: #282c34;
    font-family: "Sigmar", sans-serif;
    padding: 20px 0;
    line-height: 80px; }
  .wild-west__scenes-two {
    background: #b8b8b8;
    padding-top: 10px;
    border-bottom: 10px solid #76a10f; }
    .wild-west__scenes-two img {
      width: 100%;
      vertical-align: bottom; }
  .wild-west__scenes-one {
    background: #474747;
    padding-bottom: 10px; }
    .wild-west__scenes-one img {
      width: 49%;
      height: auto; }
    .wild-west__scenes-one .flex-wrap {
      align-items: flex-end;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
  .wild-west__desc {
    color: #EEF6F2;
    font-size: 30px;
    font-family: 'Sigmar', sans-serif;
    margin: 25px 0;
    line-height: 35px; }
  .wild-west__weapons .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; }
  .wild-west__weapons__title {
    font-size: 38px;
    color: #EEF6F2;
    font-family: 'Sigmar', sans-serif;
    text-align: center;
    background: #636363;
    padding: 15px 0; }
  .wild-west__weapons-wrap {
    background: #474747;
    border-bottom: 10px solid #76a10f; }
  .wild-west__weapons img {
    width: 65%; }
    .wild-west__weapons img:first-child {
      width: 35%; }
  .wild-west__icons {
    background: #b8b8b8;
    padding-bottom: 20px;
    border-bottom: 10px solid #76a10f; }
    .wild-west__icons .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center; }
    .wild-west__icons-item {
      min-width: 200px;
      width: 19%; }
      .wild-west__icons-item:first-child {
        width: 40%;
        font-size: 50px;
        font-family: 'Sigmar', sans-serif;
        min-width: auto; }
  .wild-west__characters {
    background: #474747; }
    .wild-west__characters img {
      width: 100%; }
    .wild-west__characters-title {
      font-size: 50px;
      line-height: 55px;
      text-align: center;
      font-family: 'Sigmar', sans-serif;
      color: #EEF6F2;
      padding: 20px 0; }

.health-defender {
  border: solid #76a10f;
  border-width: 10px 0;
  background: url("../images/works/healthDefender/big-bg.jpg") no-repeat;
  background-size: cover; }
  .health-defender__title {
    font-family: 'Sigmar', sans-serif;
    font-size: 50px;
    color: #282c34;
    text-align: center;
    margin-top: 30px; }
    .health-defender__title-small {
      margin-bottom: 30px;
      font-family: 'Sigmar', sans-serif;
      font-size: 30px;
      text-align: center; }
  .health-defender .flex-container {
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 40px; }
    .health-defender .flex-container img {
      box-shadow: 0 0 10px #191b1e;
      margin: 10px auto;
      max-width: 100%; }
      .health-defender .flex-container img:nth-child(2) {
        max-width: 90%; }
      .health-defender .flex-container img:nth-child(3) {
        max-width: 60%; }
      .health-defender .flex-container img:nth-child(4) {
        max-width: 35%; }

.tanks {
  background: url("../images/works/tanks/tansk-bg.jpg") no-repeat;
  background-size: cover; }
  .tanks__title-section {
    background: url("../images/works/tanks/tansk-title-bg.jpg") no-repeat;
    background-size: cover;
    color: #EEF6F2;
    padding-bottom: 30px; }
    .tanks__title-section__title {
      font-size: 50px;
      text-align: center;
      font-family: 'Sigmar', sans-serif; }
      .tanks__title-section__title__desc {
        font-family: 'Sigmar', sans-serif;
        text-align: left;
        font-size: 25px; }
  .tanks__works .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  .tanks__works .big {
    width: 32%;
    margin: 10px 5px; }
  .tanks__works .medium {
    width: 30%;
    margin: 10px 5px; }
  .tanks__works .small {
    width: 24%;
    margin: 10px 5px; }
  .tanks__works .other {
    width: 40%;
    margin: 10px 5px; }

.sci-fi {
  background: url("../images/works/sci-fi/bg.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 70px; }
  .sci-fi__title {
    font-size: 50px;
    text-align: center;
    color: #EEF6F2;
    font-family: "Sigmar", sans-serif;
    padding: 10px 30px; }
  .sci-fi .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #909090; }
  .sci-fi .item {
    width: 50%; }
  .sci-fi .desc {
    font-size: 40px;
    font-family: 'Sigmar', sans-serif;
    color: #EEF6F2;
    padding: 0 50px;
    box-sizing: border-box; }

.works__fantasy2 {
  background: #b8b8b8;
  text-align: center;
  font-family: 'Sigmar', sans-serif; }
  .works__fantasy2 .title {
    font-size: 50px;
    padding: 20px;
    text-align: center;
    font-family: 'Sigmar', sans-serif;
    text-transform: uppercase; }
  .works__fantasy2 .sub-title {
    font-size: 30px; }
  .works__fantasy2 .many_fantasy_works {
    width: 100%; }
  .works__fantasy2 .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }

.west-set {
  margin-top: 50px;
  background: #b8b8b8;
  padding-bottom: 50px; }
  .west-set .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end; }
  .west-set .title {
    font-size: 50px;
    text-align: center;
    font-family: 'Sigmar', sans-serif;
    padding: 30px 10px; }
  .west-set img {
    box-shadow: 0 0 20px #474747;
    width: 49%; }

@media screen and (max-width: 1600px) {
  header ul li {
    font-size: 20px; }
  header .name .name_and_prof .fullName {
    font-size: 40px; }
  header .name .name_and_prof .prof {
    font-size: 20px; } }

@media screen and (max-width: 1300px) {
  .programs__flex-container {
    grid-template-columns: auto auto auto auto; } }

@media screen and (max-width: 1100px) {
  header .name {
    width: 100%; }
  header .menu {
    display: none; }
  .sci-fi__title {
    font-size: 32px; }
  .works__fantasy2 .title {
    font-size: 36px;
    padding: 10px; }
  .west-set .title {
    font-size: 35px; }
  .about-me {
    background-repeat: round; }
    .about-me__grid-wrap {
      grid-template-columns: auto; }
      .about-me__grid-wrap img {
        width: 170px;
        margin: 0 0 0 50px; }
    .about-me__exp {
      text-align: center; }
    .about-me__contacts__info {
      font-size: 25px; }
      .about-me__contacts__info-title {
        color: #4c6333; }
    .about-me__contacts__lang .word {
      font-size: 50px; }
    .about-me__contacts__lang .desc {
      font-size: 30px; }
    .about-me__contacts__lang .value {
      font-size: 60px;
      line-height: 47px; }
  .works__fantasy__title {
    font-size: 40px;
    padding: 30px 0; } }

@media screen and (max-width: 700px) {
  .mobNewLine {
    display: block; }
  .work-plan__title {
    font-size: 45px; }
  .work-plan p {
    font-size: 20px; }
  .works__title {
    font-size: 55px; }
  .works .works__fantasy-desc {
    background: rgba(0, 0, 0, 0.5);
    color: #EEF6F2;
    font-size: 20px;
    flex-flow: column-reverse wrap; }
    .works .works__fantasy-desc img {
      width: 100%; }
    .works .works__fantasy-desc .desc {
      width: 100%;
      font-size: 25px;
      padding: 20px;
      box-sizing: border-box; }
  .works .works__fantasy__title {
    font-size: 40px;
    padding: 30px 0; }
  .works .works__fantasy-characters img {
    width: 50%; }
    .works .works__fantasy-characters img:first-child {
      width: 50%; }
    .works .works__fantasy-characters img:nth-child(3) {
      width: 50%; }
  .works .works__fantasy-characters2 img {
    width: 50%; }
  .works .works__fantasy-characters3 img {
    width: 100%; }
  .works .tanks__title-section__title {
    font-size: 30px; }
    .works .tanks__title-section__title__desc {
      font-size: 20px; }
  .works .tanks__works .flex-container {
    padding: 10px; }
  .works .tanks__works .big {
    width: 45%;
    margin: 10px 5px; }
  .works .tanks__works .medium {
    width: 45%;
    margin: 10px 5px; }
  .works .tanks__works .small {
    width: 45%;
    margin: 10px 5px; }
  .works .tanks__works .other {
    width: 45%;
    margin: 10px 5px; }
  .wild-west__title {
    font-size: 55px;
    line-height: 65px; }
  .wild-west__desc {
    font-size: 22px;
    line-height: 30px; }
  .wild-west__scenes-one img {
    width: 100%;
    margin-bottom: 15px; }
  .wild-west__icons .flex-container {
    justify-content: space-around; }
  .wild-west__icons-item:first-child {
    line-height: 40px;
    padding: 20px 0;
    width: auto;
    text-align: center; }
  .wild-west__characters-title {
    font-size: 40px;
    line-height: 42px; }
  .health-defender__title {
    font-size: 30px;
    margin-top: 30px; }
    .health-defender__title-small {
      font-size: 22px; }
  .sci-fi__title {
    font-size: 20px; }
  .sci-fi .item {
    width: 100%; }
  .west-set .title {
    font-size: 25px; }
  .west-set img {
    width: 100%;
    margin-bottom: 20px; } }

@media screen and (max-width: 550px) {
  header .name .name_and_prof {
    margin: 0 0 0 10px; }
    header .name .name_and_prof .fullName {
      font-size: 36px; }
  .about-me {
    background-repeat: round; }
    .about-me__grid-wrap {
      grid-template-columns: auto; }
    .about-me img {
      width: 120px;
      margin: 0 10px; }
    .about-me__contacts__lang .word {
      display: block; }
    .about-me__contacts__lang .value {
      float: none;
      margin-left: 30px;
      font-size: 40px; }
  .works__fantasy__title {
    font-size: 27px;
    padding: 20px 0; }
  .health-defender__title {
    font-size: 22px;
    margin-top: 30px; }
    .health-defender__title-small {
      font-size: 14px; }
  .health-defender .flex-container {
    padding: 20px; }
  .works__fantasy2 .title {
    font-size: 26px; }
  .works__fantasy2 .sub-title {
    font-size: 20px; }
  .works__fantasy2 img {
    max-width: 100%; } }

@media screen and (max-width: 480px) {
  header .name .name_and_prof .fullName {
    font-size: 29px;
    line-height: 40px; }
  header .name .name_and_prof .prof {
    font-size: 16px; }
  .avatar {
    width: 130px;
    height: 130px; }
  .experience-title {
    font-size: 40px; }
  .experience-desc {
    font-size: 22px; }
  .works__title {
    font-size: 40px;
    line-height: 60px;
    padding: 20px 0; }
  .wild-west__title {
    font-size: 40px;
    line-height: 45px; }
  .wild-west__desc {
    font-size: 22px;
    line-height: 30px; }
  .wild-west__scenes-one img {
    width: 100%;
    margin-bottom: 15px; }
  .wild-west__weapons__title {
    font-size: 22px;
    line-height: 30px; }
  .wild-west__weapons img {
    width: 100%; }
    .wild-west__weapons img:first-child {
      width: 100%; }
  .wild-west__icons-item {
    width: 40%;
    min-width: auto; }
    .wild-west__icons-item:first-child {
      font-size: 30px;
      line-height: 40px; }
  .wild-west__characters-title {
    font-size: 30px;
    line-height: 32px; }
  .sci-fi .desc {
    padding: 20px 50px;
    font-size: 16px; } }

body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282c34; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.header_green {
  color: #76a10f; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block;
    list-style: none; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px; }
