@media screen and (max-width: 1600px) {
  header {
    ul {
      li {
        font-size: 20px;
      }
    }
    .name {
      .name_and_prof {
        .fullName {
          font-size: 40px;
        }

        .prof {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    .name {
      width: 100%;
    }
    .menu {
      display: none;
    }
  }

}

@media screen and (max-width: 550px) {
  header {
    .name {
      .name_and_prof {
        .fullName {
          font-size: 36px;
        }
      }
    }
  }


  .mobNewLine {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  header {
    .name {
      .name_and_prof {
        .fullName {
          font-size: 29px;
          line-height: 40px;
        }
        .prof {
          font-size: 16px;
        }
      }
    }
  }
  .avatar {
    width: 130px;
    height: 130px;
  }
}