@media screen and (max-width: 1300px) {
  .programs__flex-container {
    grid-template-columns: auto auto auto auto; } }

@media screen and (max-width: 1100px) {
  header .name {
    width: 100%; }
  header .menu {
    display: none; }
  .sci-fi__title {
    font-size: 32px; }
  .works__fantasy2 .title {
    font-size: 36px;
    padding: 10px; }
  .west-set .title {
    font-size: 35px; }
  .works__fantasy__title {
    font-size: 40px;
    padding: 30px 0; }
  .about-me__contacts {
    padding: 20px 20px; }
    .about-me__contacts a {
      font-size: 23px; } }

@media screen and (max-width: 700px) {
  .about-me__block {
    font-size: 25px; }
  .about-me__grid-wrap {
    grid-template-columns: auto; }
  .about-me__contacts {
    display: block;
    text-align: center; }
  .about-me__exp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
  .about-me__experience {
    font-size: 20px; }
  .freelance__title {
    font-size: 30px; }
  .moon__title {
    font-size: 30px; }
  .moon__sub-title {
    font-size: 20px; }
  .punk {
    background: url("../images/works/punk-set/bg.jpg") no-repeat;
    background-size: cover;
    font-family: 'Sigmar', sans-serif;
    padding-bottom: 100px; }
    .punk__sub-title {
      font-size: 25px; }
    .punk__title {
      padding: 20px 0;
      font-size: 25px;
      text-align: center;
      color: #EEF6F2; }
    .punk__wrap {
      padding: 0 0 30px;
      background: #939393; }
    .punk__unit_big {
      text-align: center;
      padding: 20px;
      background: #7e857e; }
    .punk .flex-container img {
      width: 49%; }
  .mobNewLine {
    display: block; }
  .work-plan__title {
    font-size: 45px; }
  .work-plan p {
    font-size: 20px; }
  .works__title {
    font-size: 55px; }
  .works .works__fantasy-desc {
    background: rgba(0, 0, 0, 0.5);
    color: #EEF6F2;
    font-size: 20px;
    flex-flow: column-reverse wrap; }
    .works .works__fantasy-desc img {
      width: 100%; }
    .works .works__fantasy-desc .desc {
      width: 100%;
      font-size: 25px;
      padding: 20px;
      box-sizing: border-box; }
  .works .works__fantasy__title {
    font-size: 40px;
    padding: 30px 0; }
  .works .works__fantasy-characters img {
    width: 50%; }
    .works .works__fantasy-characters img:first-child {
      width: 50%; }
    .works .works__fantasy-characters img:nth-child(3) {
      width: 50%; }
  .works .works__fantasy-characters2 img {
    width: 50%; }
  .works .works__fantasy-characters3 img {
    width: 100%; }
  .works .tanks__title-section__title {
    font-size: 30px; }
    .works .tanks__title-section__title__desc {
      font-size: 20px; }
  .works .tanks__works .flex-container {
    padding: 10px; }
  .works .tanks__works .big {
    width: 45%;
    margin: 10px 5px; }
  .works .tanks__works .medium {
    width: 45%;
    margin: 10px 5px; }
  .works .tanks__works .small {
    width: 45%;
    margin: 10px 5px; }
  .works .tanks__works .other {
    width: 45%;
    margin: 10px 5px; }
  .wild-west__title {
    font-size: 55px;
    line-height: 65px; }
  .wild-west__desc {
    font-size: 22px;
    line-height: 30px; }
  .wild-west__scenes-one img {
    width: 100%;
    margin-bottom: 15px; }
  .wild-west__icons .flex-container {
    justify-content: space-around; }
  .wild-west__icons-item:first-child {
    line-height: 40px;
    padding: 20px 0;
    width: auto;
    text-align: center; }
  .wild-west__characters-title {
    font-size: 40px;
    line-height: 42px; }
  .health-defender__title {
    font-size: 30px;
    margin-top: 30px; }
    .health-defender__title-small {
      font-size: 22px; }
  .sci-fi__title {
    font-size: 20px; }
  .sci-fi .item {
    width: 100%; }
  .west-set .title {
    font-size: 25px; }
  .west-set img {
    width: 100%;
    margin-bottom: 20px; } }

@media screen and (max-width: 550px) {
  header .name .name_and_prof {
    margin: 0 0 0 10px; }
    header .name .name_and_prof .fullName {
      font-size: 36px; }
  .about-me__about__title {
    font-size: 45px; }
  .about-me__exp img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 20px; }
  .about-me__contacts img {
    max-width: 60px; }
  .works__fantasy__title {
    font-size: 27px;
    padding: 20px 0; }
  .health-defender__title {
    font-size: 22px;
    margin-top: 30px; }
    .health-defender__title-small {
      font-size: 14px; }
  .health-defender .flex-container {
    padding: 20px; }
  .works__fantasy2 .title {
    font-size: 26px; }
  .works__fantasy2 .sub-title {
    font-size: 20px; }
  .works__fantasy2 img {
    max-width: 100%; } }

@media screen and (max-width: 480px) {
  header .name .name_and_prof .fullName {
    font-size: 29px;
    line-height: 40px; }
  header .name .name_and_prof .prof {
    font-size: 11px; }
  .avatar {
    width: 130px;
    height: 130px; }
  .experience-title {
    font-size: 40px; }
  .experience-desc {
    font-size: 22px; }
  .works__title {
    font-size: 40px;
    line-height: 60px;
    padding: 20px 0; }
  .wild-west__title {
    font-size: 40px;
    line-height: 45px; }
  .wild-west__desc {
    font-size: 22px;
    line-height: 30px; }
  .wild-west__scenes-one img {
    width: 100%;
    margin-bottom: 15px; }
  .wild-west__weapons__title {
    font-size: 22px;
    line-height: 30px; }
  .wild-west__weapons img {
    width: 100%; }
    .wild-west__weapons img:first-child {
      width: 100%; }
  .wild-west__icons-item {
    width: 40%;
    min-width: auto; }
    .wild-west__icons-item:first-child {
      font-size: 30px;
      line-height: 40px; }
  .wild-west__characters-title {
    font-size: 30px;
    line-height: 32px; }
  .sci-fi .desc {
    padding: 20px 50px;
    font-size: 16px; } }
