@media screen and (max-width: 1600px) {
  header ul li {
    font-size: 20px; }
  header .name .name_and_prof .fullName {
    font-size: 40px; }
  header .name .name_and_prof .prof {
    font-size: 20px; } }

@media screen and (max-width: 1100px) {
  header .name {
    width: 100%; }
  header .menu {
    display: none; }
  .about-me {
    background-repeat: round; }
    .about-me__grid-wrap {
      grid-template-columns: auto; }
      .about-me__grid-wrap img {
        width: 170px;
        margin: 0 0 0 50px; }
    .about-me__exp {
      text-align: center; }
    .about-me__contacts__info {
      font-size: 25px; }
      .about-me__contacts__info-title {
        color: #4c6333; }
    .about-me__contacts__lang .word {
      font-size: 50px; }
    .about-me__contacts__lang .desc {
      font-size: 30px; }
    .about-me__contacts__lang .value {
      font-size: 60px;
      line-height: 47px; } }

@media screen and (max-width: 700px) {
  .mobNewLine {
    display: block; } }

@media screen and (max-width: 550px) {
  header .name .name_and_prof {
    margin: 0 0 0 10px; }
    header .name .name_and_prof .fullName {
      font-size: 36px; }
  .about-me {
    background-repeat: round; }
    .about-me__grid-wrap {
      grid-template-columns: auto; }
    .about-me img {
      width: 120px;
      margin: 0 10px; }
    .about-me__contacts__lang .word {
      display: block; }
    .about-me__contacts__lang .value {
      float: none;
      margin-left: 30px;
      font-size: 40px; } }

@media screen and (max-width: 480px) {
  header .name .name_and_prof .fullName {
    font-size: 29px;
    line-height: 40px; }
  header .name .name_and_prof .prof {
    font-size: 16px; }
  .avatar {
    width: 130px;
    height: 130px; } }
