@import "colors.scss";

.wild-west {
  background: #ffffff;
  &__title {
    background: url("../images/works/wild-west-title-bg.png") no-repeat;
    background-size: cover;
    font-size: 80px;
    text-align: center;
    color: $blue-dark;
    font-family: "Sigmar", sans-serif;
    padding: 20px 0;
    line-height: 80px;
  }
  &__scenes-one {
    background: $gray-medium;
    padding-bottom: 10px;
    .slick-dots li button:before {
      color: #ffffff;
    }
    .title {
      font-size: 40px;
      text-align: center;
      color: #ffffff;
      font-family: "Sigmar", sans-serif;
      padding-bottom: 30px;
    }
  }
  &__desc {
    color: $white-main;
    font-size: 30px;
    font-family: 'Sigmar', sans-serif;
    margin: 0 0 25px;
    line-height: 35px;
    padding: 20px 0 20px;
    border-bottom: 10px solid $green-main;
  }
  &__weapons {
    .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
    }
    &__title {
      font-size: 38px;
      color: $white-main;
      font-family: 'Sigmar', sans-serif;
      text-align: center;
      background: $gray-medium-light;
      padding: 15px 0;
    }
    &-wrap {
      background: $gray-medium;
      border-bottom: 10px solid $green-main;
    }
    img {
      &:first-child {
        width: 35%;
      }
      width: 65%;
    }
  }

  &__icons {
    background: $gray-light;
    padding-bottom: 35px;
    border-bottom: 10px solid $green-main;
    &-item {
      font-size: 50px;
      font-family: 'Sigmar', sans-serif;
      text-align: center;
    }
    .slider-item {
      text-align: center;
      img {
        display: inline-block;
      }
    }
    .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__characters {
    .slick-dots li button:before {
      color: white;
    }
    .slick-prev:before, .slick-next:before {
      font-size: 50px;
      position: relative;
      bottom: 13px;
      right: 15px;
    }
    .slick-center {
      background: rgba(0, 0, 0, 0.1);
      transition: all 0.2s;
      .slider-item {
        padding: 15px;
      }
    }
    .slider-item {
      height: 400px;
      position: relative;
      padding: 60px;
      box-sizing: border-box;
      @media (max-width: 900px) {
        padding: 20px;
      }
      img {
        height: 100%;
        margin: auto;
      }
    }
    background: $gray-medium;
    &-title {
      font-size: 50px;
      line-height: 55px;
      text-align: center;
      font-family: 'Sigmar', sans-serif;
      color: $white-main;
      padding: 20px 0;
    }
  }
}
.wild-west__model {
  text-align: center;
}
.sketchfab-embed-wrapper {
  padding-top: 20px;
}