@import "colors.scss";

.work-plan {
  background: url("../images/plan-bg.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0 70px;
  border: solid $green-main;
  border-width: 5px 0;
  color: $white-main;

  &__title {
    font-family: 'Sigmar', sans-serif;
    font-size: 50px;
  }
  p {
    font-size: 25px;
    margin-bottom: 30px;
  }
}