@import "colors.scss";

.works {
  &__title {
    font-size: 100px;
    text-align: center;
    font-family: "Sigmar", sans-serif;
    color: $white-main;
    background: url("../images/works/works_title_bg.jpg") no-repeat;
    background-size: cover;
  }
  &__fantasy {
    background: url("../images/works/fantasy-bg.jpg") no-repeat;
    background-size: cover;
    border-top: 10px solid $green-main;

    &__title {
      padding: 50px 0;
      text-align: center;
      color: $blue-dark;
      font-size: 50px;
      font-family: 'Sigmar', sans-serif;
    }
  }
}