.work-plan {
  background: url("../images/plan-bg.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0 70px;
  border: solid #76a10f;
  border-width: 5px 0;
  color: #EEF6F2; }
  .work-plan__title {
    font-family: 'Sigmar', sans-serif;
    font-size: 50px; }
  .work-plan p {
    font-size: 25px;
    margin-bottom: 30px; }
